@import 'tailwindcss';
@import './styles/fonts.css';

@plugin "daisyui" {
    logs: false;
}

:root,
[data-theme] {
	background-color: theme(colors.base-300);
	color: theme(colors.base-content);
}

pre.shiki.nord::before {
	content: none;
}
